.DatosComprador{display:inline-block;float: left;}
#NombreComprador{width: 25%}
#DirreccionComprador{width: 65%}
/*landscape  portrait*/
@media only screen and (min-device-width : 800px) 
 and (orientation : landscape) {
 /* aquí los estilos */
  table,p,h1,h2,h3,h4,h5,h6,label,input{}
  #navVC{display: inline-block;}
  #div2{overflow-y: scroll;height: 300px;padding: 0px}
  #div2 *{margin:0px;}

    .cambio{display: inline-block;}
    #btn-credito{float: right;}
    table thead {background:#3D9F5A; color:white;font-size: 110%;}
     table tbody {font-size: 110%;}
     .table_responsive{overflow-y:scroll;height: 450px}
    table tbody tr:nth-child(odd){
      background: #D5F5E3;
    } 
    table tbody tr:hover{background: #6a5d4d;color: white }
    #tabla_busqueda tbody tr td:last-child{text-align: right; }

    .Total{display: inline-block; color:#3D9F5A}
    .cambio{display: inline-block;}
    .container-flui{height: 480px;overflow-y: scroll; }

     #clientes{font-family: "Arial Black";}

  /*-------------------------------------------------------------*/
  .columna{display: inline-block;width: 48%;height: auto}

  /*****************FOOTER**************************/
   .func{font-size: 90%}
    .total{display: inline-block;color:#3D9F5A;font-size:200%;}
    #totaldiv{float: right;}

    #pie{
        background:#0B0E11;
        bottom:0;
        position: absolute;
        width: 100%;   
        font-size: 80%; 
    }
    #findProducto{width: 25%;float: left;color:blue;font-family:"Arial BLack"; }
    #info{color: white;float: left;width: 100%;font-size: 100%}
    #info p{display: inline-block;margin-left: 5px}
}


/*################################################################################
#############################PARA SMARTPHONE######PORTRAINT###############################*/
@media only screen and (min-device-width : 300px) and (max-device-width : 800px) 
  and (orientation : portrait){
  /*****************FOOTER**************************/
   .func{font-size: 90%}
    .total{display:inline-block;color:green;font-size:200%}
    #totaldiv{float: right;}
    #pie{
        background:#262F39;
        bottom:-200px;
        position: absolute;
        width: 100%;   
        font-size: 80%; 
    }
    #findProducto{width: 90%;float: left;color:blue;font-family:"Arial BLack"; }
    #info{display: none}

   /*-----------------------------------------------*/

  #navVC{display: inline-block;}
  #div2{overflow-y: scroll;height: 300px;padding: 0px}
  #div2 *{margin:0px;}

    .cambio{display: inline-block;}
    #btn-credito{float: right;}
    table thead {background:#7C7E80; color:white;font-size: 80%;}
     table tbody {font-size: 70%;}
     .table_responsive{overflow-y:scroll;height: 450px}
   /* table tbody tr:nth-child(odd){
      background: #bdecb6;
    } */
    table tbody tr:hover{background: #6a5d4d;color: white }

    #tabla_busqueda tbody tr td:last-child{text-align: right; }
    #tabla_busqueda{
      height:400px;
      overflow-y:auto;
    }
    .Total{display: inline-block;color: #3D9F5A}
    .cambio{display: inline-block;}
    .container-flui{height: 480px;overflow-y: scroll; }

     #clientes{font-family: "Arial Black";}

  /*-------------------------------------------------------------*/
  .columna{display: inline-block;width: 48%;height: auto}


 }
 /*FIN PARA SMARTPHONE*/


/*################################################################################
#############################PARA SMARTPHONE#### landscape#################################*/
@media only screen and (min-device-width : 200px) and (max-device-width : 800px) 
  and (orientation : landscape){
  /*****************FOOTER**************************/
   .func{font-size: 90%}
    .total{display:inline-block;color:green;font-size:200%}
    #totaldiv{float: right;}
    #pie{
        background:#262F39;
        bottom:-200px;
        position: absolute;
        width: 100%;   
        font-size: 80%; 
    }
    #findProducto{width: 90%;float: left;color:blue;font-family:"Arial BLack"; }
    #info{display: none}
   /*-----------------------------------------------*/
  #navVC{display: inline-block;}
  #div2{overflow-y: scroll;height: 300px;padding: 0px}
  #div2 *{margin:0px;}
    .cambio{display: inline-block;}
    #btn-credito{float: right;}
  table thead {background:#193737; color:white;font-size: 80%;}
     table tbody {font-size: 70%;}
     .table_responsive{overflow-y:scroll;height: 450px}
    /*table tbody tr:nth-child(odd){
      background: #bdecb6;
    } */
    table tbody tr:hover{background: #6a5d4d;color: white }

    #tabla_busqueda tbody tr td:last-child{text-align: right; }
    #tabla_busqueda{
      height:400px;
      overflow-y:auto;
    }
    .Total{display: inline-block;color: #3D9F5A}
    .cambio{display: inline-block;}
    .container-flui{height: 280px;overflow-y: scroll; }

     #clientes{font-family: "Arial Black";}

  /*-------------------------------------------------------------*/
  .columna{display: inline-block;width: 48%;height: auto}


 }
 /*FIN PARA SMARTPHONE*/



